@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplayregular.woff2"), url("../fonts/playfairdisplayregular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplaybold.woff2"), url("../fonts/playfairdisplaybold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfairdisplayitalic.woff2"), url("../fonts/playfairdisplayitalic.woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserratregular.woff2"), url("../fonts/montserratregular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserratmedium.woff2"), url("../fonts/montserratmedium.woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
