.pop-bouquets {
  margin-bottom: 67px;
}

.pop-bouquets__header {
  @include margin-reset;
  text-align: center;
}

.pop-bouquets__wrapp {
  display: flex;
  flex-direction: column;
  width: 792px;
  margin: 0 auto;
}

.pop-bouquets__list {
  margin-bottom: 16px;
  padding-top: 34px;
}

.pop-bouquets__item {
  display: flex;
  justify-content: space-between;
  min-height: 438px;
  // box-sizing: border-box;
}

.pop-bouquets__item-wrapp {
  width: 387px;
  padding-top: 29px;
}

.pop-bouquets__title {
  @include margin-reset;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 500;
}

.pop-bouquets__text {
  @include margin-reset;
  margin-bottom: 26px;
}

.pop-bouquets__size {
  @include margin-reset;
  margin-bottom: 25px;
}

.pop-bouquets__price {
  @include margin-reset;
  margin-bottom: 63px;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 500;
}

.pop-bouquets__image {
  @include figure-reset;
  display: flex;
  width: 387px;
}

.pop-bouquets__image picture {
  // display: block;

  img {
    // object-fit: cover;
    display: block;
  }
}

.pop-bouquets__toggles {
  align-self: center;
}

.pop-bouquets__toggle {
  width: 67px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.pop-bouquets__toggle svg {
  fill: #ae7c78;
}

.pop-bouquets__toggle:hover svg,
.pop-bouquets__toggle:focus svg {
  fill: rgb(99, 33, 165);
}

.pop-bouquets__toggle:active svg {
  fill: rgb(255, 0, 0);
}

.slider__item {
  &--mdfDispNon {
    display: none;
  }
}
