.reviews {
  padding-top: 41px;
  padding-bottom: 61px;
  border: 1px solid #ae7c78;
}

.reviews__header {
  @include margin-reset;
  margin-bottom: 40px;
  text-align: center;
}

.reviews__list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.reviews__item {
  @include margin-reset;
  width: 300px;
}

.reviews__comment {
  @include margin-reset;
  margin-bottom: 16px;
  line-height: 20px;
}

.reviews__author {
  font-weight: 500;
  font-style: normal;
}
